# Build artifacts
build/
bin/
plugins/
*.o
*.so
*.d

# Packaging
debian/qmem/
debian/qmem-plugins/
.debhelper/
*.deb
*.buildinfo
*.changes
debian/files
debian/*.substvars
debian/*.debhelper.log

# Config
*.pid
config/qmem.conf
!config/qmem.conf.example

# Misc
.DS_Store
tags
vm.log
